# iOS build & Xcode
ios/build/
**/DerivedData/
*.ipa
*.dSYM*
*.xcuserdatad/
*.xcuserdata/
*.moved-aside
*.pbxuser
*.mode1v3
*.mode2v3
*.perspectivev3

# CocoaPods
ios/Pods/
ios/.symlinks/

# Env/Secrets
.env*
*.mobileprovision
*.p12

# Node / RN
node_modules/
dist/
